{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="shortcut icon" href="{% static 'images/nav_img.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Navbar -->
    <div class="nav">
        <a href="{% url 'homepage:index' %}"><img src="{% static 'images/nav_img.png' %}" alt=""></a>
        <ul class="nav_ul">
            <li class="dropdown"><a href="{% url 'homepage:about' %}">About Us</a>
                <div class="dropdown-content">
                    <a href="#" class="dropdown_div">Leadership</a>
                    <a href="#" class="dropdown_div">Our Policies</a>
                    <a href="#" class="dropdown_div">Community Handbook</a>
                    <a href="#" class="dropdown_div">Board of Directors</a>
                    <a href="#" class="dropdown_div">Contact Us</a>
                </div>
            </li>

            <li><a href="{% url 'homepage:news' %}">News</a></li>
            <li class="dropdown"><a href="{% url 'homepage:work' %}">Our Work</a>
                <div class="dropdown-content">
                    <a href="#" class="dropdown_div">Education</a>
                    <a href="#" class="dropdown_div">Education Community</a>
                    <a href="#" class="dropdown_div">Athletics</a>
                </div>
            </li>

            <li class="dropdown"><a href="{% url 'homepage:academics' %}">Academics</a>
                <div class="dropdown-content">
                    <a href="#" class="dropdown_div">Summer Assignments</a>
                    <a href="#" class="dropdown_div">Elementary School</a>
                    <a href="#" class="dropdown_div">Middle/High School</a>
                    <a href="#" class="dropdown_div">Portals</a>
                </div>
            </li>

            <li class="dropdown"><a href="{% url 'homepage:resources' %}">Resources</a>
                <div class="dropdown-content">
                    <a href="#" class="dropdown_div">Uniform information</a>
                    <a href="#" class="dropdown_div">Skyward Login</a>
                    <a href="#" class="dropdown_div">Parent Resources</a>
                </div>
            </li>

            <li class="dropdown"><a href="{% url 'homepage:getinvolved' %}">Get Involved</a>
                <div class="dropdown-content">
                    <a href="#" class="dropdown_div">Event</a>
                    <a href="#" class="dropdown_div"> Calendar</a>
                </div>
            </li>
            <li><button class="enroll_btn"><b>ENROLLMENT</b></button></li>
        </ul>
    </div>

    <div class="">
        <img src="{% static 'images/prograss.jpg'%}" alt="" style="width: 100%; height: 600px;">
        
    </div>

</body>

</html>